@import './variables.scss';

.App {
  text-align: center;
  padding-inline: 1rem;

  .container {
    padding-inline: 2rem;
    padding-block: 2.5rem;
    background-color: $color-primary;
    border-radius: 1rem;

    .wrapper {
      h1 {
        color: $color-neutral;
        font-size: 1rem;
      }
  
      .numbers {
        margin-block-start: 1.5rem;
        gap: clamp(1rem, 2vw, 2rem);
        flex-wrap: wrap;
  
        .circle-number {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: $color-accent;
          color: $color-secondary;
          font-size: $font-size-sm;
          transition: background-color 0.3s;
          border: 1px solid $color-accent;
  
          &:hover {
            background-color: $color-primary;
          }
  
          &.active {
            background: $btn-horizontal-gradient;
          }
        }
      }
  
      .questions-container {
        margin-top: 2rem;
      }
    }

  }
}
